body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  width: 20%;
  position: fixed;
  height: 100vh;
}

.item{
  height: 10%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.item .row{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.main-container{
  padding: 20px;
  margin-left: 20%;
  width: 80%;
  height: 100vh;
  background:aquamarine;
}